apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: blu-live-clinic
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: jonahirande/blu-live-clinic-frontend:latest # Ensure you pushed this
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: blu-live-clinic
spec:
  selector:
    app: frontend
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: live-clinic-url
  namespace: blu-live-clinic
spec:
  to:
    kind: Service
    name: frontend
  port:
    targetPort: 80